$background-color: #f3f7fa;
$primary-color: #2196f3;
$hover-color: #f1fcff;
$border: 1px solid #dfe5ec;
$border-radius: 5px;
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
$page-padding: 0 100px;
$page-max-width: 960px;
$common-color: #4a4a4a;
$grayed-color: #a0b0b9;
$checkbox-border: 1px solid #9abbce;
$transfer-hover-color: #f1fcff;
