@import "../../main.scss";

.ticket {
  height: 184px;
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  .price-company-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    .price {
      color: $primary-color;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
    }
  }
  .route-container-first,
  .route-container-second {
    display: flex;
    justify-content: space-between;
    .route-hours {
      display: flex;
      flex-direction: column;
      width: 33.33%;

      .route {
        color: $grayed-color;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
      }
      .hours {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
      }
    }
    .flight-time {
      display: flex;
      flex-direction: column;
      justify-self: flex-start;
      width: 33.33%;
      .flight {
        color: $grayed-color;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
      }
      .time {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
      }
    }
    .change-cities {
      display: flex;
      flex-direction: column;
      justify-self: flex-start;
      width: 33.33%;
      .change {
        color: $grayed-color;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
      }
      .cities {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}
