@import "../../main.scss";

.ticket-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 68.5%;
  .ticket-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .not-found {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
  }
}
