@import "../../main.scss";

.ticket-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 68.5%;
  .ticket-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
