@import "main.scss";

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: $background-color;
}

menu {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  width: 100%;
  max-width: $page-max-width;
  padding: $page-padding;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  color: $common-color;
}

header {
  margin-top: 50px;
  width: 100%;

  .header-logo-container {
    width: 82px;
    height: 89px;
    margin: 0 auto;
    .background {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .plane {
      position: relative;
      top: -50%;
      left: 50%;
      transform: translate(-50%, -69%);
    }
  }
}

main {
  width: 100%;
  margin-top: 30px;

  .main-container {
    display: flex;
    gap: 20px;
    // <Transfers />
  }

  // <TicketList />
  //// <Filters />
  //// <Ticket />
  //// <ShowMoreButton />
}
